.contact-container {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

h1{
  margin-bottom: 5%;
  font-size: 40px;
}

.contact-feature-card {
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  margin-left: 10%;
}
.contact-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-text1 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  /* font-size: 30px; */
}

.contact-container1 span{
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.contact-icon2 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.contact-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-container2 p{
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
}

.contact-text3 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}

.home-footer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  /* max-width: var(--dl-size-size-maxwidth); */
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.home-container3 {
  width: 100%;
  display: flex;
  /* max-width: var(--dl-size-size-maxwidth); */
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-container3 h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.home-nav2 {
  font-size: 15px;
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: var(--dl-color-gray-500);
}

.home-text11 {
  margin-left: 0px;
}

.home-text12 {
  margin-left: var(--dl-space-space-threeunits);
}

.home-text13 {
  margin-left: var(--dl-space-space-threeunits);
}

.home-text14 {
  margin-left: var(--dl-space-space-threeunits);
}

.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-text15 small{
  font-size: 12px;
  color: var(--dl-color-gray-500);
}

.home-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-icon16 {
  width: 20px;
  height: 20px;
  margin-right: var(--dl-space-space-twounits);
}


.home-icon18 {
  width: 20px;
  height: 20px;
  margin-right: var(--dl-space-space-twounits);
}

.home-icon20 {
  width: 20px;
  height: 20px;
}

@media(max-width: 991px){
  .contact-text1{
    font-size: 20px;
  }

  .contact-text3{
    font-size: 20px;
  }
  
  .contact-container1 span{
    font-size: 16px;
  }

  .contact-container2 p{
    font-size: 16px;
  }
}

@media(max-width: 767px) {
  .contact-feature-card {
    flex-direction: row;
  }
  .contact-container1 {
    flex-direction: column;
  }


  .contact-feature-card1 {
    flex-direction: row;
  }
  .contact-container2 {
    flex-direction: column;
  }

  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-image3 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .home-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-container1 {
    flex-direction: column;
  }

  .contact-container2 p{
    font-size: 14px;
  }

  .contact-container1 span{
    font-size: 14px;
  }

  .contact-text3{
    margin-bottom: var(--dl-space-space-halfunit);
  }

  .contact-container2 {
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
  }

  .contact-feature-card{
    margin: 0;
    padding: 0;
    padding-top: 5%;
  }

  svg{
    width: 16px;
    height: 16px;
  }

  .home-footer {
    width: 100%;
    /* padding: var(--dl-space-space-unit); */
    font-size: 1.15rem;
    padding-top: 16px;
  }

  .home-container3 {
    width: 100%;
  }

  .home-container3 h1{
    font-size: 20px;
  }

  .home-nav2 {
    width: 100%;
    font-size: 12px;
    justify-content: space-evenly;
    /* padding: 0;
    margin: 0; */
  }

  .home-text12{
    margin-left: var(--dl-space-space-halfunit);
  }

  .home-text13{
    margin-left: var(--dl-space-space-halfunit);
  }

  .home-text14{
    margin-left: var(--dl-space-space-halfunit);
  }

  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .home-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-text15 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
